.video-list {
  padding: 2.3rem;

  display: flex;
  justify-content: center;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.8rem;
  flex-wrap: wrap;
  .movie-item {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 18.3rem;
      border-radius: 6px;
      height: 28.3rem;
      margin-bottom: 0.8rem;
    }
    .movie-item-name {
      text-align: center;
    }
  }
  .movie-dir-item {
    width: 18.3rem;
    height: 28.3rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-color-second);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 16.5rem;
      height: 23.4rem;
    }
    .add {
      width: 10.6rem;
      height: 10.6rem;
      color: #454545;
    }
  }
}
